<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
</head>

<body>
    <div id="login-page">
        <div class="container">
            <form class="form-login" th:action="@{/login}" method="POST" >
                <h2 class="form-login-heading">sign in now</h2>
                <div class="login-wrap" id="form">
                    <div class="textBox">
                        <label class="label">Username</label>
                        <input class="text" type="text" name="username" />
                    </div>
                    <div class="textBox">
                        <label class="label">Password</label>
                        <input class="text" type="password" name="password"  />
                    </div>
                    <button class="btn btn-theme btn-block" type="submit">
                        <i class="fa fa-lock"></i> SIGN IN</button>
                    <div class="registration">
                        Don't have an account yet?
                        <br/>
                        <a class="" href="/registration">
                            Create an account
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>