<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal Form</title>
</head>
<body>
<h2>Please fill the personal details</h2>
<h2 th:text="${msg}"></h2>
<form th:action="@{/personal}" th:object="${personal}" method="post">
    <div class="textBox">
        <label class="label">First Name</label>
        <input class="text" type="text" th:field="*{firstName}"/>
    </div>
    <div class="textBox">
        <label class="label">Last Name</label>
        <input class="text" type="text" th:field="*{lastName}"/>
    </div>
    <div class="textBox">
        <label class="label">Username</label>
        <input class="text" type="text" th:field="*{username}"/>
    </div>
    <div class="textBox">
        <label class="label">Email</label>
        <input class="text" type="text" th:field="*{email}" />
    </div>
    <div class="textBox">
        <label class="label">Mobile Number</label>
        <input class="text"  type="text" th:field="*{mobileNumber}" />
    </div>
    <div class="textBox">
        <label class="label">Address</label>
        <input class="text"  type="text" th:field="*{address}" />
    </div>
    <button  type="submit"> Submit</button>
</form>
    <a th:href="@{/resume1/{resume_id}(resume_id=${fetched_id})}">Preview</a>
    <a href="/education">Next</a>
</body>
</html>