<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create an account</title>
</head>
<body>
<form class="form-signin" th:action="@{/registration}" th:object="${userForm}" method="post">
    <h2>Sign In</h2>
    <input type="text" th:field="*{username}" placeholder="Username">
    <input type="password" th:field="*{password}" placeholder="Password">
    <input type="password" th:field="*{passwordConfirm}" placeholder="Confirm Password">
    <button type="submit">Submit</button>
</form>


</body>
</html>