<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
</head>
<body>
<div id="posts" class="row no-gutters">
    <div>
        <h1>Personal Details</h1>
        <li class="item" th:text="${personal.username}">Username : </li>
        <li class="item" th:text="${personal.email}"></li>
        <li class="item" th:text="${personal.mobileNumber}"></li>
        <li class="item" th:text="${personal.address}"></li>
    </div>
    <div>
    <div class="col-12 col-md-6 col-lg-4" th:each="skill : ${skills.skill}">
        <h1>Skills</h1>
        <div>
            <li th:text="${skill}"></li>
        </div>
    </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4" th:each="projectName : ${projects.projectName}">
        <div>
            <li th:text="${projectName}"></li>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4" th:each="projectLink : ${projects.projectLink}">
        <div>
<!--            <li th:text="${projectLink}"></li>-->
            <a th:href="${projectLink}" th:text="${projectLink}" target="_blank"></a>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4" th:each="accomplishment : ${accomplishments.accomplishment}">
        <div>
                        <li th:text="${accomplishment}"></li>
<!--            <a th:href="${projectLink}" th:text="${projectLink}" target="_blank"></a>-->
        </div>
    </div>
</div>
</body>
</html>